/* --- CARROUSEL --- */

#contCarrousel {
    overflow: hidden;
    margin: auto;
    height: 600px;
    min-width: 1024px;
    max-width: 1600px;
}

.itemCarrousel {
    height: 100%;
    position: relative;
}

.imgCarrousel {
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.flechasCarrousel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    & a i {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: black;
        padding: 0 0 0 0;
        border: rgba(212, 212, 212, 0.3) 4px solid;
        background-clip: padding-box; 
        color: rgb(192, 192, 192);
        justify-content: center;
        align-items: center;
        &:hover {
            color: #0064ff; 
        }
    }
}

#contPuntos {
    max-width: 97.3%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        text-decoration: none;
        font-size: 1em;
        color: rgb(161, 161, 161);
        margin: 10px;
        &:hover {
            color: #0064ff;
        }
    }
}