/* --- CARROUSEL --- */

#contCarrousel {
    display: flex;
    overflow: hidden;
    height: 650px;
    position: relative;
    flex-direction: column;
    margin: auto;
    max-width: 1600px;
}

.itemCarrousel {
    height: 100%;
    position: relative;
}

.imgCarrousel {
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.CarrouselOverTittle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        color: white;
        font-weight: 400;
        font-size: 4.5rem;
    }
}

.flechasCarrousel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a i {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: black;
        padding: 0 0 0 0;
        border: rgba(212, 212, 212, 0.3) 4px solid;
        background-clip: padding-box; 
        color: rgb(192, 192, 192);
        justify-content: center;
        align-items: center;
        &:hover {
            color: #0064ff; 
        }
    }
}

#contPuntos {
    position: relative;
    max-width: 1600px;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    & a {
        display: block;
        padding: 17px 11px 17px 11px;
        text-decoration: none;
        font-size: 1em;
        color: #ccc;
        &:hover {
            color: #0064ff;
        }
    }
}

/* --- MEDIA QUERIES --- */

@media (max-width:1280px) {

}

@media (max-width:1024px) {

    #contCarrousel {
        height: 450px;
    }
}

@media (max-width:768px) {

    #contCarrousel {
        height: 240px;
    }

    .imgCarrousel {
        & img {
            max-width: 768px;
            width: 100%;
        }
    }
}