/* --- FOOTER --- */

.fa-chevron-right {
    color: #0064ff;
    padding-right: 5px;
}

.fa-facebook-square {
    color: blue;
    background: white;
}

.fa-youtube {
    background: red;
    color: white;
}

.fa-globe-americas {
    color: rgb(20, 89, 136);
    background: white;
}

.footFormat {
    position: relative;
    max-width: 1600px;
    margin: auto;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 1fr 1fr 8fr 5fr 2fr; 
    gap: 0px 0px; 
    justify-items: center;
    background-color: #141414;
}

.glInfo {
    width: 100%;
    & ul {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & li {
            padding-right: 10px;
            & a {
                font-size: small;
                color: #999;
                &:hover {
                    color: #0064ff;
                }
            }
        }
    }

}


.glService {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        & li {
            & a {
                color: #999;
                font-size: smaller;
                padding-right: 10px;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;

                }
            }
        }
    }
}


.footDirectory {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1280px;
    padding: 50px;
    & .column {
        flex-grow: 0.3;
    }
    & h3 {
        color: #ccc;
        font-size: medium;
        font-weight: 500;
        padding-bottom: 15px;
        &:hover {
            text-decoration: underline;
            color: rgb(215, 215, 215);
            cursor: pointer;
        }
    }
    & ul li a {
        color: #999;
        font-size: smaller;
        display: block;
        padding-bottom: 3px;
        &:hover {
            text-decoration: underline;
            color: rgb(185, 185, 185);
            cursor: pointer;
        }
    }
}

.footPromos {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 25px 50px;
    & ul {
        display: flex;
        width: 100%;
        & img {
            max-width: 1200px;
            width: 100%;
            filter: brightness(50%);            
        }
    }
}

.footLegal {
    max-width: 1280px;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: flex-start;
    & ul {
        display: flex;
        & a {
            font-size: smaller;
            color: #666;
            display: block;
            padding: 0px 10px;
            border-right: 1px solid #666;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    & p {
        font-size: smaller;
        font-weight: 300;
        color: #666;
        display: block;
        padding-left: 50px;
    }
}

/* --- MEDIA QUERIES --- */

@media (max-width:1280px) {
    
}

@media (max-width:1024px) {

}

@media (max-width:768px) {

    .footFormat {
        grid-template-rows: 1fr 1fr 8fr 5fr 0.1fr; 
    }

    .glInfo {
        & ul {
            justify-content: space-evenly;
        }
    }

    .footPromos {
        max-width: 768px;
        width: 100%;
        margin: 0;
        margin-top: -230px;
        display: flex;
        align-items: center;

        & ul {
            flex-direction: column;
            align-items: center;
        }

        & img {
            width: 100%;
        }
    }    

    .footDirectory {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 35px 0px; 
    }

    .footLegal {
        flex-direction: column;
        align-items: center;
        margin-top: -90px;
    }
}