/* --- NAVBAR --- */

@import "./Maps";
@import "./Mixins";

.Navbar {
    list-style: none;
    padding: 0%;
    background-color: map-get($estilos, blackColor);
    max-width: 100%;
    margin: auto;
    height: 70px;
    display: grid; 
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    @include center;
    /*align-content: center;
    align-items: center;*/
    
    & .bLogo {
        background-color: map-get($estilos, blueColor);
        object-fit: cover;
    }
    
    & .Logo {
        width: 150px; 
        object-fit: cover;
    }
    
    & li {
        display: inline-block;
        text-align: center;
        & a {
            text-decoration: none;
            color: #666;
            padding: 20px;
            display: block;
            font-size: map-get($estilos, tFuente);
            &:hover {
                background-color: #444343;
                color: white;
                transition: all 0.20s ease-out;
            }
        }
    }        
}