@import "./Parciales/NavBar";
@import "./Parciales/Carrousel";
@import "./Parciales/GaleriaDeSecciones";
@import "./Parciales/Footer";
@import "./Parciales/FormContacto";
@import "./Parciales/GaleriaIndex";
@import "./Parciales/IndexGrids";
@import "./Parciales/Extends";
@import "./Parciales/Maps";
@import "./Parciales/Mixins";
@import "./Parciales/Community";
@import "./Parciales/StompBoxes";
@import "./Parciales/Support";
@import "./Parciales/Articles";
@import "./Parciales/PromoGallery";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    //background-color: red;
    background-color: #e5e5e5;
}

/* --------------------------------- */

.contenedor {
    position: relative;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: auto auto auto;
    gap: 0px 0px; 
    max-width: 1640px;
    margin: auto;
    background-color: white;
}

/* --- MEDIA QUERIES --- */

@media (max-width:1280px) {

}

@media (max-width:1024px) {

}

@media (max-width:768px) {

}