/* --- NAVBAR --- */
/* -- MAPS -- */
/* -- MIXINS -- */
.subProducts {
  margin-top: -70%;
  background: rgba(245, 245, 245, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: 0;
}

.menuProductsC1 {
  padding-right: 40px;
}

.menuProductsC1 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.menuProductsC1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
}

.menuProductsC1 ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  padding: 20px 100px 20px 0px;
}

.menuProductsC2 {
  padding-right: 40px;
}

.menuProductsC2 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.menuProductsC2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
}

.menuProductsC2 ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  padding: 20px 100px 20px 0px;
}

.menuProductsC3 ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuProductsC3 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuProductsC3 ul li a {
  text-align: center;
}

.subCommunity {
  margin-top: -70%;
  background: rgba(245, 245, 245, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: 0;
}

.menuCommunityC1 {
  padding-right: 40px;
}

.menuCommunityC1 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.menuCommunityC1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
}

.menuCommunityC1 ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  padding: 20px 100px 20px 0px;
}

.menuCommunityC2 ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuCommunityC2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuCommunityC2 ul li a {
  text-align: center;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  background-color: #0064ff;
}

.subSupport {
  margin-top: -70%;
  background: rgba(245, 245, 245, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: 0;
}

.menuSupportC1 {
  padding-right: 40px;
}

.menuSupportC1 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.menuSupportC1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
}

.menuSupportC1 ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  padding: 20px 100px 20px 0px;
}

.menuSupportC2 ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuSupportC2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuSupportC2 ul li a {
  text-align: center;
}

.subArticles {
  display: none;
}

/*---------------------------------------------*/
.navBar {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 1024px;
  max-width: 1600px;
  height: 70px;
  background-color: #000;
  z-index: 10;
}

#btn-menu {
  display: none;
}

.navBar label {
  display: none;
  background: white;
}

.navBar label:hover {
  cursor: pointer;
  background: rgba(100, 96, 96, 0.788);
}

.fa-bars {
  background: black;
  color: white;
  padding: 10px 15px;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links:hover {
  background: rgba(100, 96, 96, 0.788);
}

.nav-links:hover ~ .subProducts {
  margin: auto;
  padding: 50px;
}

.subProducts:hover {
  margin: auto;
  padding: 50px;
}

.subProducts nav li:hover {
  background: rgba(100, 96, 96, 0.788);
}

.nav-links:hover ~ .subCommunity {
  margin: 0;
  padding: 50px;
}

.subCommunity:hover {
  margin: auto;
  padding: 50px;
}

.subCommunity nav li:hover {
  background: rgba(100, 96, 96, 0.788);
}

.nav-links:hover ~ .subSupport {
  margin: 0;
  padding: 50px;
}

.subSupport:hover {
  margin: auto;
  padding: 50px;
}

.subSupport nav li:hover {
  background: rgba(100, 96, 96, 0.788);
}

.fa-bars:hover {
  background: rgba(100, 96, 96, 0.788);
}

.nav-links {
  display: block;
  padding: 26px 130px;
  color: white;
  text-decoration: none;
  border-right: 1px solid rgba(80, 80, 80, 0.3);
}

@media (max-width: 768px) {
  .navBar label {
    display: block;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    position: absolute;
    background: black;
    width: 100%;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-links {
    text-align: center;
    margin-top: -70%;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  #btn-menu:checked ~ .menu .nav-links {
    margin: 0;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
  .subProducts {
    background: black;
  }
  .menuProductsC3 {
    display: none;
  }
}

/* --- CARROUSEL --- */
#contCarrousel {
  overflow: hidden;
  margin: auto;
  height: 600px;
  min-width: 1024px;
  max-width: 1600px;
}

.itemCarrousel {
  height: 100%;
  position: relative;
}

.imgCarrousel {
  height: 100%;
}

.imgCarrousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flechasCarrousel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.flechasCarrousel a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: black;
  padding: 0 0 0 0;
  border: rgba(212, 212, 212, 0.3) 4px solid;
  background-clip: padding-box;
  color: silver;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flechasCarrousel a i:hover {
  color: #0064ff;
}

#contPuntos {
  max-width: 97.3%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contPuntos a {
  text-decoration: none;
  font-size: 1em;
  color: #a1a1a1;
  margin: 10px;
}

#contPuntos a:hover {
  color: #0064ff;
}

/* --- GALERIA DE SECCIONES --- */
.galeriaProductos {
  background-color: white;
}

h5 {
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}

.linea {
  background: #999999;
  height: 1px;
  width: 90%;
  display: block;
  margin: auto;
}

.galeria {
  -ms-grid-columns: (minmax(700px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

.galeria img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.imageGaleria {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.imageOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.imageOver:hover {
  opacity: 1;
}

.imageOver * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.imageOver:hover * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.imgTitle {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* --- FOOTER --- */
.footFormat {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-rows: 1.5fr 1.5fr 8fr 5fr 2fr;
      grid-template-rows: 1.5fr 1.5fr 8fr 5fr 2fr;
  gap: 0px 0px;
  position: relative;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1600px;
  background-color: #141414;
  z-index: 1;
}

.glInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1280px;
  min-width: 1080px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.glInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glInfo ul li {
  padding-right: 10px;
}

.glInfo ul li a {
  color: #666;
}

.glInfo ul li a:hover {
  color: #0064ff;
}

.glService {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  width: 100%;
  max-width: 1280px;
  min-width: 1080px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.glService ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glService ul li a {
  color: #666;
  padding-right: 10px;
}

.glService ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footDirectory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  min-width: 1080px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.footDirectory h3 {
  color: #666;
  padding-bottom: 15px;
}

.footDirectory h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footDirectory ul li a {
  color: #666;
  display: block;
  padding-bottom: 3px;
}

.footDirectory ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fa-chevron-right {
  color: #0064ff;
  padding-right: 5px;
}

.fa-facebook-square {
  color: blue;
  background: white;
}

.fa-youtube {
  background: white;
  color: red;
}

.fa-globe-americas {
  color: #145988;
  background: white;
}

.footPromos {
  width: 100%;
  max-width: 1280px;
  min-width: 1080px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.footPromos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footLegal {
  position: relative;
  width: 980px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1280px;
  min-width: 1080px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.footLegal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footLegal ul li a {
  display: block;
  padding: 0px 10px 0px 10px;
  border-right: 1px solid #212121;
  color: #666;
}

.footLegal ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footLegal p {
  font-size: .65rem;
  font-weight: 300;
  line-height: 1;
  color: #666;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

/* --- CONTACTO --- */
.FormularioContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* --- GALERIA INDEX --- */
.indexGalley {
  background-color: white;
}

.indexGalley_format {
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.indexGalley_format img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.indexGalley_format .indexGalleyimg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.indexGalley_format .indexGalleyimageOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 121, 187, 0.74);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.indexGalley_format .indexGalleyimageOver:hover {
  opacity: 1;
}

.indexGalley_format .indexGalleyimageOver * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.indexGalley_format .indexGalleyimageOver:hover * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.indexGalley_format .indexGalleyimageOver .indexGalleyimgTitle {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

/* INDEX GRIDS */
.grid3Gallery {
  background-color: white;
}

.grid3Gallery .format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  gap: 10px;
  padding: 50px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid3Gallery .format .element img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid3Gallery .format .element .subtitle {
  font-weight: bold;
  color: black;
  font-size: 15px;
  padding-top: 20px;
}

.grid3Gallery .format .element .title {
  font-weight: bold;
  color: #727272;
  padding-top: 5px;
  font-size: 17px;
}

.grid3Gallery .format .element .description {
  width: 380px;
  color: black;
  font-size: 12px;
  padding-top: 15px;
}

.grid3Gallery .format .element .moreBoton {
  font-size: small;
}

.grid3Gallery .format .element .moreBoton a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.grid3Gallery .format .element .moreBoton a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  background-color: black;
  border: rgba(212, 212, 212, 0.2) 4px solid;
  background-clip: padding-box;
  color: silver;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* --- EXTENDS --- */
.GridFormat, .galeria, .indexGalley_format {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

/* -- MAPS -- */
/* -- MIXINS -- */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: #e8e8e8;
}

.CommunityMain {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 0.5fr 1.5fr;
      grid-template-columns: 0.5fr 1.5fr;
  -ms-grid-rows: 5.6fr 2.4fr;
      grid-template-rows: 5.6fr 2.4fr;
  gap: 0px 0px;
      grid-template-areas: ". ." ". .";
  justify-items: center;
}

.CommunityMain div h4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CommunityMain div h4 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CommunityMain div h4 ul li a {
  color: #666;
  padding: 20px;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-rows: 0.5fr 2fr 0.5fr;
      grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  justify-items: center;
  min-width: 1024px;
  max-width: 1600px;
  margin: auto;
  background-color: white;
  overflow: hidden;
}

.stompBoxesCatalog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stompBoxesCatalog ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stompImgTittle {
  position: absolute;
  text-align: center;
  font-size: 3rem;
}

/* --- MEDIA QUERIES --- */
@media screen and (max-width: 800px) {
  .grid3Gallery .format {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .navBar label {
    display: block;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    position: absolute;
    background: black;
    width: 100%;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-links {
    text-align: center;
    margin-top: -70%;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  #btn-menu:checked ~ .menu .nav-links {
    margin: 0;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
  .subProducts {
    background: black;
  }
  .menuProductsC3 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */