/* --- NAVBAR --- */
/* -- MAPS -- */
/* -- MIXINS -- */
/* --- NAVBAR --- */
.navBar {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #000;
  z-index: 10;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  background-color: #0064ff;
}

#btn-menu {
  display: none;
}

.navBar label {
  display: none;
  background: white;
}

.navBar label:hover {
  cursor: pointer;
  background: rgba(100, 96, 96, 0.788);
}

.fa-bars {
  background: black;
  color: white;
  padding: 10px 15px;
}

.menu {
  position: relative;
  width: 100%;
}

.menu ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-links {
  position: absolute;
  width: 100%;
  padding: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666;
  text-decoration: none;
  border-right: 1px solid rgba(80, 80, 80, 0.3);
  font-size: small;
}

.nav-links:hover {
  background: rgba(100, 96, 96, 0.4);
  color: white;
}

.nav-links:hover ~ .subProducts {
  margin: auto;
  padding: 50px;
}

.subProducts:hover {
  margin: auto;
  padding: 50px;
}

.subProducts nav li:hover {
  background: rgba(100, 96, 96, 0.3);
}

.fa-bars:hover {
  background: rgba(100, 96, 96, 0.788);
}

.nav-links:hover ~ .subCommunity {
  margin: 0;
  padding: 50px;
}

.subCommunity:hover {
  margin: auto;
  padding: 50px;
}

.subCommunity nav li:hover {
  background: rgba(100, 96, 96, 0.3);
}

.nav-links:hover ~ .subSupport {
  margin: 0;
  padding: 50px;
}

.subSupport:hover {
  margin: auto;
  padding: 50px;
}

.subSupport nav li:hover {
  background: rgba(100, 96, 96, 0.788);
}

/* --- SUBPRODUCTS MENU --- */
.subProducts {
  background: rgba(245, 245, 245, 0.95);
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.menuProductsC1 {
  padding-right: 40px;
}

.menuProductsC1 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.menuProductsC1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
}

.menuProductsC1 ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  padding: 12px 150px 12px 0px;
}

.menuProductsC2 {
  padding-right: 70px;
}

.menuProductsC2 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.menuProductsC2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
}

.menuProductsC2 ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  padding: 12px 200px 12px 0px;
}

.menuProductsC3 ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuProductsC3 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuProductsC3 ul li a {
  text-align: center;
}

/* --- SUBPCOMMUNITY MENU --- */
.subCommunity {
  margin-top: -70%;
  background: rgba(245, 245, 245, 0.9);
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  left: 0;
}

.menuCommunityC1 {
  padding-right: 40px;
}

.menuCommunityC1 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.menuCommunityC1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
}

.menuCommunityC1 ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  padding: 20px 100px 20px 0px;
}

.menuCommunityC2 ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuCommunityC2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuCommunityC2 ul li a {
  text-align: center;
}

/* --- SUBSUPPORT MENU --- */
.subSupport {
  margin-top: -70%;
  background: rgba(245, 245, 245, 0.9);
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  left: 0;
}

.menuSupportC1 {
  padding-right: 40px;
}

.menuSupportC1 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.menuSupportC1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
}

.menuSupportC1 ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  padding: 20px 100px 20px 0px;
}

.menuSupportC2 ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuSupportC2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuSupportC2 ul li a {
  text-align: center;
}

/* --- SUBARTICLE MENU --- */
.subArticles {
  display: none;
}

/* --- MEDIA QUERIES --- */
/*
@media (max-width:1280px) {

}

@media (max-width:1024px) {

}

*/
@media (max-width: 768px) {
  .navBar label {
    display: block;
  }
  .nav-mobile {
    max-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    top: 0;
    left: 0;
    background: black;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-links {
    position: relative;
    text-align: center;
    margin-top: -70%;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  #btn-menu:checked ~ .menu .nav-links {
    margin: 0;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
  .subProducts {
    display: none;
  }
  .subSupport {
    display: none;
  }
  .menuProductsC3 {
    display: none;
  }
}

/* --- CARROUSEL --- */
#contCarrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 650px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 1600px;
}

.itemCarrousel {
  height: 100%;
  position: relative;
}

.imgCarrousel {
  height: 100%;
}

.imgCarrousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.CarrouselOverTittle {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CarrouselOverTittle a {
  color: white;
  font-weight: 400;
  font-size: 4.5rem;
}

.flechasCarrousel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flechasCarrousel a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: black;
  padding: 0 0 0 0;
  border: rgba(212, 212, 212, 0.3) 4px solid;
  background-clip: padding-box;
  color: silver;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flechasCarrousel a i:hover {
  color: #0064ff;
}

#contPuntos {
  position: relative;
  max-width: 1600px;
  margin: auto;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

#contPuntos a {
  display: block;
  padding: 17px 11px 17px 11px;
  text-decoration: none;
  font-size: 1em;
  color: #ccc;
}

#contPuntos a:hover {
  color: #0064ff;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 1024px) {
  #contCarrousel {
    height: 450px;
  }
}

@media (max-width: 768px) {
  #contCarrousel {
    height: 240px;
  }
  .imgCarrousel img {
    max-width: 768px;
    width: 100%;
  }
}

/* --- GALERIA DE SECCIONES --- */
.galeriaProductos {
  background-color: white;
}

h5 {
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}

.galeria {
  -ms-grid-columns: (minmax(700px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

.galeria img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.imageGaleria {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.imageOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.imageOver:hover {
  opacity: 1;
}

.imageOver * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.imageOver:hover * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.imgTitle {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* --- FOOTER --- */
.fa-chevron-right {
  color: #0064ff;
  padding-right: 5px;
}

.fa-facebook-square {
  color: blue;
  background: white;
}

.fa-youtube {
  background: red;
  color: white;
}

.fa-globe-americas {
  color: #145988;
  background: white;
}

.footFormat {
  position: relative;
  max-width: 1600px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 8fr 5fr 2fr;
      grid-template-rows: 1fr 1fr 8fr 5fr 2fr;
  gap: 0px 0px;
  justify-items: center;
  background-color: #141414;
}

.glInfo {
  width: 100%;
}

.glInfo ul {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glInfo ul li {
  padding-right: 10px;
}

.glInfo ul li a {
  font-size: small;
  color: #999;
}

.glInfo ul li a:hover {
  color: #0064ff;
}

.glService {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.glService ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glService ul li a {
  color: #999;
  font-size: smaller;
  padding-right: 10px;
}

.glService ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footDirectory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  padding: 50px;
}

.footDirectory .column {
  -webkit-box-flex: 0.3;
      -ms-flex-positive: 0.3;
          flex-grow: 0.3;
}

.footDirectory h3 {
  color: #ccc;
  font-size: medium;
  font-weight: 500;
  padding-bottom: 15px;
}

.footDirectory h3:hover {
  text-decoration: underline;
  color: #d7d7d7;
  cursor: pointer;
}

.footDirectory ul li a {
  color: #999;
  font-size: smaller;
  display: block;
  padding-bottom: 3px;
}

.footDirectory ul li a:hover {
  text-decoration: underline;
  color: #b9b9b9;
  cursor: pointer;
}

.footPromos {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 50px;
}

.footPromos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footPromos ul img {
  max-width: 1200px;
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.footLegal {
  max-width: 1280px;
  width: 100%;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footLegal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footLegal ul a {
  font-size: smaller;
  color: #666;
  display: block;
  padding: 0px 10px;
  border-right: 1px solid #666;
}

.footLegal ul a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footLegal p {
  font-size: smaller;
  font-weight: 300;
  color: #666;
  display: block;
  padding-left: 50px;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
  .footFormat {
    -ms-grid-rows: 1fr 1fr 8fr 5fr 0.1fr;
        grid-template-rows: 1fr 1fr 8fr 5fr 0.1fr;
  }
  .glInfo ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footPromos {
    max-width: 768px;
    width: 100%;
    margin: 0;
    margin-top: -230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footPromos ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footPromos img {
    width: 100%;
  }
  .footDirectory {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 35px 0px;
  }
  .footLegal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -90px;
  }
}

/* --- CONTACTO --- */
.FormularioContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* --- GALERIA INDEX --- */
.indexGalley {
  background-color: white;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.indexGalley_format {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
}

.indexGalley_format img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.indexGalley_format .indexGalleyimg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.indexGalley_format .indexGalleyimg .indexGalleyimgTitle {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.indexGalley_format .indexGalleyimg .indexGalleyimgTitle:hover {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  background: rgba(0, 100, 255, 0.8);
}

@media (max-width: 768px) {
  .indexGalley_format {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    max-width: 768px;
    width: 98%;
  }
}

/* INDEX GRIDS */
.grid3Gallery {
  background-color: white;
  position: relative;
  max-width: 1600px;
  margin: auto;
}

.grid3Gallery .format {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 20px 0px 154px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid3Gallery .format .element {
  max-width: 380px;
  width: 100%;
}

.grid3Gallery .format .element:hover .moreBoton a {
  color: #0064ff;
}

.grid3Gallery .format .element:hover .moreBoton a i {
  color: #0064ff;
}

.grid3Gallery .format .element img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 380px;
  width: 100%;
}

.grid3Gallery .format .element .subtitle {
  font-weight: bold;
  color: black;
  font-size: 15px;
  padding-top: 20px;
}

.grid3Gallery .format .element .title {
  font-weight: bold;
  color: gray;
  padding-top: 5px;
  font-size: 15px;
}

.grid3Gallery .format .element .description {
  color: black;
  font-size: 12px;
  padding: 15px 0 15px 0;
}

.grid3Gallery .format .element .moreBoton {
  font-size: small;
}

.grid3Gallery .format .element .moreBoton a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.grid3Gallery .format .element .moreBoton a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 25px;
  background-color: black;
  border: rgba(212, 212, 212, 0.2) 4px solid;
  background-clip: padding-box;
  color: silver;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linea {
  background: #ccc;
  height: 1px;
  width: 72%;
  display: block;
  margin: auto;
}

/* --- MEDIA QUERIES ---*/
@media (max-width: 768px) {
  .grid3Gallery .format {
    padding-bottom: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid3Gallery .format .element {
    max-width: 360px;
    width: 100%;
  }
  .grid3Gallery .format .element img {
    max-width: 360px;
    width: 100%;
  }
  .grid3Gallery .format .element .subtitle {
    display: none;
  }
  .grid3Gallery .format .element .description {
    display: none;
  }
  .grid3Gallery .format .element .moreBoton {
    display: none;
  }
}

/* --- EXTENDS --- */
.GridFormat, .galeria {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  overflow: hidden;
}

.positioning, .heroImgCommunitySection, .CommunityMain, .Intro, .stompBoxesCatalog, .heroImgSupportSection, .logoArticles, .ArticlesNav, .readArticle {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

/* -- MAPS -- */
/* -- MIXINS -- */
/* --- EXTENDS --- */
.GridFormat, .galeria {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  overflow: hidden;
}

.positioning, .heroImgCommunitySection, .CommunityMain, .Intro, .stompBoxesCatalog, .heroImgSupportSection, .logoArticles, .ArticlesNav, .readArticle {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

/* --- COMMUNITY --- */
.heroImgCommunitySection img {
  width: 100%;
}

.CommunityTittleBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.CommunityMain {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px 10px;
      grid-template-areas: "community face ." "social youTube .";
  justify-items: center;
  margin: 20px;
  height: 800px;
}

.SocialMediaList {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: social;
  position: relative;
  left: -15px;
  padding: 5px;
}

.SocialMediaList h4 span ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 30px;
}

.SocialMediaList h4 span ul li {
  display: block;
  padding-right: 15px;
}

.FacebookImg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: face;
  position: relative;
}

.FacebookImg h5 {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: medium;
  color: white;
}

.YoutubeImg {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: youTube;
  position: relative;
}

.YoutubeImg h5 {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: medium;
  color: white;
}

.CommunityList {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: community;
  position: relative;
  left: 90px;
}

.CommunityList h4 {
  padding: 10px;
}

.CommunityList h4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CommunityList h4 ul li {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CommunityList h4 ul li a {
  color: #666;
  padding: 10px;
  font-size: small;
  padding-right: 120px;
}

.promos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
  border-top: 1px solid #b4b4b4;
  margin: 70px;
}

.promoitem {
  border-right: 1px solid #d4d4d4;
  padding-right: 35px;
}

.tittlepromo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: small;
  color: #666;
}

.tittlepromo a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 25px;
  background-color: black;
  border: rgba(212, 212, 212, 0.2) 4px solid;
  background-clip: padding-box;
  color: silver;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*



*/
/*--- MEDIA QUERIES ---*/
@media (max-width: 768px) {
  main img {
    max-width: 500px;
    width: 100%;
  }
  .CommunityMain {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "face" "youTube" "community"  "social";
  }
  .SocialMediaList {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: social;
  }
  .FacebookImg {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: face;
  }
  .YoutubeImg {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: youTube;
  }
  .CommunityList {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: community;
    left: 0;
  }
}

/* --- EXTENDS --- */
.GridFormat, .galeria {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  overflow: hidden;
}

.positioning, .heroImgCommunitySection, .CommunityMain, .Intro, .stompBoxesCatalog, .heroImgSupportSection, .logoArticles, .ArticlesNav, .readArticle {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

/* --- STOMPBOXES --- */
.Intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.Intro h1 {
  font-size: 2.5rem;
  font-weight: 50;
}

.Intro p {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #666;
}

.stompBoxesCatalog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  gap: 25px;
}

.stompBoxesCatalog ul li {
  max-width: 1180px;
  width: 100%;
}

.stompBoxesCatalog ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ItemContainer img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  max-width: 100%;
}

.ItemContainer img:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.ItemContainer img:hover ~ .stompImgTittle {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  color: #0064ff;
}

.stompImgTittle {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  color: white;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.stompImgTittle:hover {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  color: #0064ff;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
  .stompImgTittle {
    font-size: 1rem;
  }
  .stompBoxesCatalog ul li {
    max-width: 768px;
    width: 100%;
  }
}

/*--- SUPPORT ---*/
.heroImgSupportSection img {
  width: 100%;
}

.SupportTittleBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SupportMain {
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px 10px;
      grid-template-areas: "sup search search" "quick news news";
  margin: auto;
  margin-bottom: 170px;
  height: 800px;
  padding: 50px 0px;
}

.SupportList {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sup;
  position: relative;
}

.SupportList h4 {
  padding: 10px;
}

.SupportList h4 ul {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.SupportList h4 ul li {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SupportList h4 ul li a {
  color: #666;
  padding: 10px;
  font-size: small;
  padding-right: 120px;
}

.SupportSearch {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: search;
}

.QuickLinks {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: quick;
  position: relative;
}

.QuickLinks h4 {
  padding: 10px;
}

.QuickLinks h4 ul {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.QuickLinks h4 ul li {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.QuickLinks h4 ul li a {
  color: #666;
  padding: 10px;
  font-size: small;
  padding-right: 120px;
}

.SupportNews {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: news;
  position: relative;
}

.SupportNews h4 {
  padding: 10px;
}

.SupportNews h4 ul {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.SupportNews h4 ul li {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SupportNews h4 ul li a {
  color: #666;
  padding: 10px;
  font-size: small;
  padding-right: 120px;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
  .SupportMain {
    grid-auto-columns: auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    gap: 20px 0px;
        grid-template-areas: "search" "news" "sup" "quick";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: stretch;
    margin-bottom: 630px;
  }
  .SupportSearch {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: search;
  }
  .SupportNews {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: news;
  }
  .SupportList {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: sup;
  }
  .QuickLinks {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: quick;
  }
}

.logoArticles {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.logoArticles img {
  width: 300px;
}

.ArticlesNav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

.ArticlesNav ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #adbebe;
}

.ArticlesNav ul li {
  display: block;
  padding-right: 80px;
  font-size: small;
  font-weight: 800;
  font-family: serif;
}

.readArticle {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  padding-top: 30px;
}

.contArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 180px;
}

.tittleArticle {
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  color: #7e7e7e;
  padding-top: 15px;
}

.SubTArticle {
  display: block;
  font-weight: 900;
  padding-top: 15px;
}

.SubTArticle a {
  color: black;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.SubTArticle a:hover {
  color: #0064ff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.ArticleResume {
  display: block;
  padding-top: 15px;
  color: #555555;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: large;
}

.AutorArticle {
  display: block;
  padding-top: 15px;
}

.AutorArticle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.AutorArticle ul li {
  font-size: smaller;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #5c5c5c;
}

.contArticleCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
}

.contArticleCenter img {
  width: 600px;
}

.contArticleMid {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 240px;
  width: 100%;
}

.contArticleMid img {
  height: 170px;
  width: 100%;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
  .readArticle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contArticle, .contArticleCenter, .contArticleMid {
    max-width: 500px;
    width: 100%;
  }
  .contArticle img, .contArticleCenter img, .contArticleMid img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-height: 290px;
    height: 100%;
  }
}

.promoGallery {
  display: none;
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.promoGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: #e5e5e5;
}

/* --------------------------------- */
.contenedor {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 0px 0px;
  max-width: 1640px;
  margin: auto;
  background-color: white;
}

/* --- MEDIA QUERIES --- */
/*# sourceMappingURL=main.css.map */